*{
  box-sizing:content-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
 margin: 0;
 background: radial-gradient(rgb(133, 171, 246),rgb(97, 160, 233),rgb(45, 70, 158));
 background-repeat: no-repeat;
}

img{
  max-width: 100%;
}

#breathing-button {
    width: 20px;
    height: 20px;
    padding: 110px;
    border-radius: 50%;
    /* top:50px;
    right: 50px; */
    /* transform:translate(-50%,-50%); */
    margin: 50px auto;
    justify-content: center;
    display: flex;
    /* -webkit-animation: breathing 5s ease-out infinite normal; */
    animation: breathing 5s ease-out infinite normal;
    font-size: 30px;
    background: radial-gradient(white,rgb(158, 227, 163), rgb(73, 166, 214));
    font-family: 'Averia Libre', cursive;
    color:royalblue;
    border-radius: 80%;
    justify-content: center;
    /* text-align: center; */
    }

    #breathing-button:hover{
      border-radius: 50%;
      width: 20px;
      height:20px;
    }

    #breathing-button2 {
        width: 30px;
        height: 30px;
        padding: 110px;
        border-radius: 50%;
        /* top:50px;
        right: 50px; */
        /* transform:translate(-50%,-50%); */
        margin: 50px auto;
        justify-content: center;
        display: flex;
        /* -webkit-animation: breathing 5s ease-out infinite normal; */
        animation: breathing 5s ease-out infinite normal;
        font-size: 30px;
        background: radial-gradient(white,rgb(241, 174, 203), rgb(73, 166, 214));
        font-family: 'Averia Libre', cursive;
        color:royalblue;
        border-radius: 80%;
        justify-content: center;
        /* text-align: center; */
        }
        #breathing-button3 {
            width: 40px;
            height: 40px;
            padding: 110px;
            border-radius: 50%;
            /* top:50px;
            right: 50px; */
            /* transform:translate(-50%,-50%); */
            margin: 50px auto;
            justify-content: center;
            display: flex;
            /* -webkit-animation: breathing 5s ease-out infinite normal; */
            animation: breathing 5s ease-out infinite normal;
            font-size: 30px;
            background: radial-gradient(white,rgb(255, 234, 121), rgb(73, 166, 214));
            font-family: 'Averia Libre', cursive;
            color:royalblue;
            border-radius: 80%;
            justify-content: center;
            /* text-align: center; */
            }

  /* .circle{
    width: 200px;
    height: 200px;
    margin-top: -550px;
    border-radius: 50%;
    padding: 100px;
    transform: translate(155%,-20%);
    background: radial-gradient(white,rgb(246, 138, 249), rgb(73, 166, 214));
    background-blend-mode: screen;
    background-repeat: no-repeat; */
}

    /* margin: 50px auto; */

    border-radius: 50%;
    background-color: white;
    /* box-shadow: 50px; */
  }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
