*{
  box-sizing:content-box;
}

body {
  margin: 0;
  background-color: black;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
font-family: 'Press Start 2P', cursive;
  font-size: 50px;
}
a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: rgb(255, 85, 167);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 50px;
  overflow: hidden;
  transition: 0.2s;
}
a:hover {
  color: rgb(255, 85, 167);
  background: rgb(255, 247, 45);
  box-shadow: 0 0 10px rgb(255, 85, 167), 0 0 40px rgb(255, 85, 167), 0 0 80px rgb(255, 85, 167);
  border-radius:2%;
}

img{
  max-width: 100%;
}
