*{
  box-sizing:content-box;
}

body {
  margin: 0;
  background: rgb(127, 156, 241);
}

img{
  max-width: 100%;
}

p{
  margin: 20px;
  font-family:sans-serif;
}

.object {
  background:rgb(255, 145, 247);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  position:absolute;
  bottom:300px;
  right:300px;
  transition:border-radius 1s ease, width 1s ease, height 2s ease, background 1s ease;
}

.object:hover{
  border-radius:0;
  width:400px;
  height:400px;
  background: rgb(251, 118, 60);
}
